/* background-color */
$bg-primary: #ee6588;
$bg-secondary: #462DE3;
$bg-tertiary: #8533FD;
$bg-dark: #656565;
$bg-light: #fff;
$bg-muted: #f1f1f1;

/* color */
$color-primary: #ee6588;
$color-secondary: #d5d5d5;
$color-tertiary: #8533FD;
$color-dark: #656565;
$color-light: #fff;
$color-muted: #bbb;

/* margin */
$m-xl: 70px;
$m-lg: 50px;
$m-md: 30px;
$m-sm: 15px;
$m-xs: 10px;

/* padding */
$p-xl: 70px;
$p-lg: 50px;
$p-md: 30px;
$p-sm: 15px;
$p-xs: 10px;